// compileCompressed: ../../public/css/$1.css

// Bootstrap
@import '../vendor/bootstrap/scss/bootstrap.scss';


#myCarousel {
  background-color: $dark;

  .carousel-inner {
    .carousel-item {
      img {
        // height: 100%;
      }
    }
  }
}


.menu-main {
  .navbar-nav {
    > .nav-item {
      > .nav-link {
        @extend .px-4;
        @extend .py-3;
        font-size: $font-size-base * 1.2;
        text-transform: uppercase;
        font-weight: $font-weight-bold;
      }
    }
  }
}
