// compileExpanded: ../../public/css/$1.css

// Bootstrap
@import '../vendors/bootstrap/scss/bootstrap.scss';


body {
  color: $body-color;
  background-color: $body-bg;
}

.footer-section {
  .footer-top {
    color: $white;
    background-color: $primary;
  }

  .footer-bottom {
    color: $body-color;
    background-color: $light;
  }
}
