// main: ./app.scss

a {
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }
}

p {

}

b,
strong,
.font-weight-bold {
  font-weight: bold;
}

.carousel {
  &#homepage-slide {
    .carousel-item {
      height: 660px;
    }
  }

  .carousel-indicators {
    > li {
      cursor: pointer;
    }

    &.circle {
      > li {
        width: 16px;
        height: 16px;
        border-radius: 1em;
      }
    }
  }

  .carousel-control-prev,
  .carousel-control-next {
    cursor: pointer;
  }
}
